@model CustomOAuthProvider.Models.UserProfile

@{
    ViewBag.Title = "Home Page";
}

<h3>
    You are logged-in as: @User.Identity.Name
</h3>

<h3>We have retrieved the following extra data from your OAuth clients:</h3>
<table>
    <thead>
        <tr>
            <th>Provider</th>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var extraData in Model.ExtraData)
    {
        <tr>
            <td>@extraData.Provider</td>
            <td>@extraData.Key</td>
            <td>@extraData.Value</td>
        </tr>
    }
    </tbody>
</table>